In [1]:
import pandas as pd

In [5]:
dataset=pd.read_csv('https://raw.githubusercontent.com/shivang98/Social-Network-ads-Boost/master/Social_Network_Ads.csv')

In [6]:
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [9]:
x = dataset.iloc[:,[1,2,3]].values

In [10]:
x

array([['Male', 19, 19000],
       ['Male', 35, 20000],
       ['Female', 26, 43000],
       ...,
       ['Female', 50, 20000],
       ['Male', 36, 33000],
       ['Female', 49, 36000]], dtype=object)

In [13]:
y = dataset.iloc[:,-1].values

In [14]:
y

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0,
       1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1,
       1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1,
       0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 0, 1], dtype=int64)

In [15]:
from sklearn.preprocessing import LabelEncoder

In [16]:
le = LabelEncoder()

In [18]:
x[:,0]=le.fit_transform(x[:,0])

In [19]:
x

array([[1, 19, 19000],
       [1, 35, 20000],
       [0, 26, 43000],
       ...,
       [0, 50, 20000],
       [1, 36, 33000],
       [0, 49, 36000]], dtype=object)

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
X_train, X_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

In [22]:
len(X_train)

320

In [23]:
len(X_test)

80

In [24]:
from sklearn.naive_bayes import GaussianNB

In [25]:
model = GaussianNB()

In [26]:
model.fit(X_train,y_train)

GaussianNB()

In [27]:
model.predict(X_test)
#purchased 1   not purchased 0

array([1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0,
       0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0], dtype=int64)

In [28]:
X_test
# 1 male 0 female

array([[1, 46, 88000],
       [1, 26, 86000],
       [0, 31, 89000],
       [1, 32, 120000],
       [1, 56, 133000],
       [1, 34, 112000],
       [1, 24, 58000],
       [1, 36, 144000],
       [0, 27, 137000],
       [1, 35, 55000],
       [0, 19, 21000],
       [0, 26, 43000],
       [0, 38, 65000],
       [0, 60, 108000],
       [1, 37, 72000],
       [0, 26, 72000],
       [1, 49, 89000],
       [1, 37, 75000],
       [0, 54, 104000],
       [0, 38, 50000],
       [1, 20, 86000],
       [0, 35, 57000],
       [1, 36, 99000],
       [1, 24, 55000],
       [1, 39, 96000],
       [1, 59, 130000],
       [1, 19, 25000],
       [0, 47, 51000],
       [0, 39, 79000],
       [0, 52, 21000],
       [1, 42, 104000],
       [0, 26, 118000],
       [1, 41, 52000],
       [0, 58, 23000],
       [0, 27, 57000],
       [1, 60, 42000],
       [1, 28, 32000],
       [0, 36, 126000],
       [1, 45, 79000],
       [0, 18, 68000],
       [1, 41, 52000],
       [1, 34, 115000],
       [1, 47, 105000],
       [1, 30, 17000],
       [1, 26, 32000],
       [0, 27, 58000],
       [1, 48, 33000],
       [0, 57, 26000],
       [1, 36, 33000],
       [0, 59, 42000],
       [0, 32, 86000],
       [1, 49, 28000],
       [1, 30, 107000],
       [0, 24, 27000],
       [1, 31, 76000],
       [0, 28, 44000],
       [0, 28, 37000],
       [0, 32, 150000],
       [1, 26, 15000],
       [1, 36, 60000],
       [1, 36, 52000],
       [1, 35, 59000],
       [0, 59, 29000],
       [0, 37, 80000],
       [1, 46, 79000],
       [0, 45, 45000],
       [0, 38, 55000],
       [0, 35, 47000],
       [0, 59, 83000],
       [1, 37, 74000],
       [1, 42, 149000],
       [1, 53, 72000],
       [1, 40, 75000],
       [1, 46, 117000],
       [0, 36, 75000],
       [0, 59, 76000],
       [0, 40, 75000],
       [0, 50, 88000],
       [0, 58, 101000],
       [1, 30, 49000]], dtype=object)

In [29]:
model.score(X_test,y_test)
#chek the accuracy

0.8875